#################
## Git
#################
.gitattributes
.gitignore

#################
## ColdFusion
#################
CFIDE/
META-INF/
WEB-INF/

#################
## Test
#################
/test_harness